In [25]:
import pandas as pd
import numpy as np

In [10]:
%cd Desktop/Programming/TESI/tensorflow-ranger-layer/experiments
%ls

[Errno 2] No such file or directory: 'Desktop/Programming/TESI/tensorflow-ranger-layer/experiments'
/home/nicomane/Desktop/Programming/TESI/tensorflow-ranger-layer/experiments
lenet_ranger.csv  Report_ranger.ipynb  vgg16_ranger_mnist.csv   vgg16_report.py
lenet_report.py   vgg16_ranger.csv     vgg16_report_cifar10.py

In [11]:
data = pd.read_csv('vgg16_ranger_mnist.csv')

In [12]:
data

,Unnamed: 0,layer_name,sample_id,num_of_injection,misclassifications,experiment
0,0,classes_conv2d_3,0,128,25,FaultInjection
1,1,classes_conv2d_3,1,128,14,FaultInjection
2,2,classes_conv2d_3,2,128,23,FaultInjection
3,3,classes_conv2d_3,3,128,16,FaultInjection
4,4,classes_conv2d_3,4,128,18,FaultInjection
...,...,...,...,...,...,...
6430,1282,classes_conv2d_15,95,128,0,Ranger_Ranger_Value
6431,1283,classes_conv2d_15,96,128,0,Ranger_Ranger_Value
6432,1284,classes_conv2d_15,97,128,0,Ranger_Ranger_Value
6433,1285,classes_conv2d_15,98,128,0,Ranger_Ranger_Value
6434,1286,classes_conv2d_15,99,128,0,Ranger_Ranger_Value

In [22]:
grouped_by = data.groupby(by=["layer_name","experiment"],group_keys=False).sum()

In [23]:
grouped_by

                                         Unnamed: 0  sample_id
layer_name        experiment
classes_conv2d_10 FaultInjection              73458       4935  \
                  Ranger_Clipping_Layer       73458       4935
                  Ranger_Clipping_Value       73458       4935
                  Ranger_Ranger_Layer         73458       4935
                  Ranger_Ranger_Value         73458       4935
...                                             ...        ...
classes_conv2d_9  FaultInjection              63657       4935
                  Ranger_Clipping_Layer       63657       4935
                  Ranger_Clipping_Value       63657       4935
                  Ranger_Ranger_Layer         63657       4935
                  Ranger_Ranger_Value         63657       4935

                                         num_of_injection  misclassifications
layer_name        experiment
classes_conv2d_10 FaultInjection                    12672                1816
                  Ranger_Clipping_Layer             12672                   0
                  Ranger_Clipping_Value             12672                   0
                  Ranger_Ranger_Layer               12672                   1
                  Ranger_Ranger_Value               12672                   4
...                                                   ...                 ...
classes_conv2d_9  FaultInjection                    12672                 793
                  Ranger_Clipping_Layer             12672                   0
                  Ranger_Clipping_Value             12672                   0
                  Ranger_Ranger_Layer               12672                   0
                  Ranger_Ranger_Value               12672                   0

[65 rows x 4 columns]

In [47]:
stats = data.groupby(by=["layer_name","experiment"]).agg({'num_of_injection': np.sum, 'misclassifications': [np.sum, np.mean]}).reset_index()

In [48]:
stats

           layer_name             experiment num_of_injection
                                                          sum
0   classes_conv2d_10         FaultInjection            12672  \
1   classes_conv2d_10  Ranger_Clipping_Layer            12672
2   classes_conv2d_10  Ranger_Clipping_Value            12672
3   classes_conv2d_10    Ranger_Ranger_Layer            12672
4   classes_conv2d_10    Ranger_Ranger_Value            12672
..                ...                    ...              ...
60   classes_conv2d_9         FaultInjection            12672
61   classes_conv2d_9  Ranger_Clipping_Layer            12672
62   classes_conv2d_9  Ranger_Clipping_Value            12672
63   classes_conv2d_9    Ranger_Ranger_Layer            12672
64   classes_conv2d_9    Ranger_Ranger_Value            12672

   misclassifications
                  sum       mean
0                1816  18.343434
1                   0   0.000000
2                   0   0.000000
3                   1   0.010101
4                   4   0.040404
..                ...        ...
60                793   8.010101
61                  0   0.000000
62                  0   0.000000
63                  0   0.000000
64                  0   0.000000

[65 rows x 5 columns]

In [49]:
stats.columns

MultiIndex([(        'layer_name',     ''),
            (        'experiment',     ''),
            (  'num_of_injection',  'sum'),
            ('misclassifications',  'sum'),
            ('misclassifications', 'mean')],
           )

In [50]:
stats_ = stats.pivot(index ='layer_name', columns ='experiment')["misclassifications"]

In [51]:
stats_

                             sum
experiment        FaultInjection Ranger_Clipping_Layer Ranger_Clipping_Value
layer_name
classes_conv2d_10           1816                     0                     0  \
classes_conv2d_11           1573                     0                     0
classes_conv2d_12            872                     0                     0
classes_conv2d_13           1860                     0                     0
classes_conv2d_14           1600                     0                     0
classes_conv2d_15            901                     0                     0
classes_conv2d_3            1915                     0                     0
classes_conv2d_4             789                     0                     0
classes_conv2d_5            1705                     0                     0
classes_conv2d_6             938                     0                     0
classes_conv2d_7            1600                     0                     0
classes_conv2d_8            1693                     0                     0
classes_conv2d_9             793                     0                     0

                                                                    mean
experiment        Ranger_Ranger_Layer Ranger_Ranger_Value FaultInjection
layer_name
classes_conv2d_10                   1                   4      18.343434  \
classes_conv2d_11                  13                  11      15.888889
classes_conv2d_12                  87                  91       8.808081
classes_conv2d_13                  83                 102      18.787879
classes_conv2d_14                 132                 153      16.161616
classes_conv2d_15                  39                  43       9.101010
classes_conv2d_3                    0                   0      19.343434
classes_conv2d_4                    0                   0       7.969697
classes_conv2d_5                    0                   0      17.222222
classes_conv2d_6                    0                   0       9.474747
classes_conv2d_7                    0                   0      16.161616
classes_conv2d_8                    0                   0      17.101010
classes_conv2d_9                    0                   0       8.010101


experiment        Ranger_Clipping_Layer Ranger_Clipping_Value
layer_name
classes_conv2d_10                   0.0                   0.0  \
classes_conv2d_11                   0.0                   0.0
classes_conv2d_12                   0.0                   0.0
classes_conv2d_13                   0.0                   0.0
classes_conv2d_14                   0.0                   0.0
classes_conv2d_15                   0.0                   0.0
classes_conv2d_3                    0.0                   0.0
classes_conv2d_4                    0.0                   0.0
classes_conv2d_5                    0.0                   0.0
classes_conv2d_6                    0.0                   0.0
classes_conv2d_7                    0.0                   0.0
classes_conv2d_8                    0.0                   0.0
classes_conv2d_9                    0.0                   0.0


experiment        Ranger_Ranger_Layer Ranger_Ranger_Value
layer_name
classes_conv2d_10            0.010101            0.040404
classes_conv2d_11            0.131313            0.111111
classes_conv2d_12            0.878788            0.919192
classes_conv2d_13            0.838384            1.030303
classes_conv2d_14            1.333333            1.545455
classes_conv2d_15            0.393939            0.434343
classes_conv2d_3             0.000000            0.000000
classes_conv2d_4             0.000000            0.000000
classes_conv2d_5             0.000000            0.000000
classes_conv2d_6             0.000000            0.000000
classes_conv2d_7             0.000000            0.000000
classes_conv2d_8             0.000000            0.000000
classes_conv2d_9             0.000000            0.000000