In [15]:
import pandas as pd

In [16]:
data = pd.read_csv('report_steer_wheel.csv')
data['delta'] = data['vanilla']  - data['ranger']
data

,Unnamed: 0,layer_name,label,vanilla,ranger,delta
0,0,classes_conv2d,4.340000e+00,-0.086230,-0.154930,0.068700
1,1,classes_conv2d,1.553000e+01,12.602465,12.711739,-0.109274
2,2,classes_conv2d,4.940000e+00,18.550798,18.422398,0.128400
3,3,classes_conv2d,2.920000e+00,95.103970,94.334840,0.769130
4,4,classes_conv2d,-5.455000e+01,-44.484478,-44.575730,0.091252
...,...,...,...,...,...,...
31995,31995,classes_conv2d_4,-6.806025e+25,7.469480,7.207202,0.262277
31996,31996,classes_conv2d_4,6.092645e+25,6.724629,6.882186,-0.157557
31997,31997,classes_conv2d_4,3.502628e+25,8.025736,7.995904,0.029832
31998,31998,classes_conv2d_4,-1.023796e+26,7.050580,5.429710,1.620870
31999,31999,classes_conv2d_4,8.554125e+25,7.626377,8.411492,-0.785115

In [24]:
data[data['label'] >= 180]

,Unnamed: 0,layer_name,label,vanilla,ranger,delta
1,1,classes_conv2d,1.553000e+01,12.602465,12.711739,-0.109274
12,12,classes_conv2d,1.412000e+01,0.612684,0.638951,-0.026267
15,15,classes_conv2d,4.024000e+01,9.190776,12.263961,-3.073185
24,24,classes_conv2d,1.704000e+01,3.726817,3.701187,0.025630
29,29,classes_conv2d,2.032900e+02,27.882269,28.534240,-0.651971
...,...,...,...,...,...,...
31992,31992,classes_conv2d_4,2.011601e+25,7.970847,8.184540,-0.213693
31994,31994,classes_conv2d_4,1.010942e+26,8.231296,8.810162,-0.578866
31996,31996,classes_conv2d_4,6.092645e+25,6.724629,6.882186,-0.157557
31997,31997,classes_conv2d_4,3.502628e+25,8.025736,7.995904,0.029832
31999,31999,classes_conv2d_4,8.554125e+25,7.626377,8.411492,-0.785115